<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.themountaineers.mapper.MountainMapper">
	<insert id="insertMountain" parameterType="java.util.List">
		insert ignore into mountain
		(
			mountain_code, 
			mountain_name, 
			mountain_phone, 
			mountain_hight, 
			mountain_content, 
			mountain_address
		)
		values 
		<foreach collection="list" item="mountain" index="index" separator=",">
		(
			#{mountain.mountain_code,jdbcType=VARCHAR}, 
			#{mountain.mountain_name,jdbcType=VARCHAR}, 
			#{mountain.mountain_phone,jdbcType=VARCHAR}, 
			#{mountain.mountain_hight,jdbcType=VARCHAR},
			#{mountain.mountain_content,jdbcType=VARCHAR},
			#{mountain.mountain_address,jdbcType=VARCHAR}
		)
		</foreach>
	</insert>
	
	<insert id="insertMountainPath">
		insert ignore into mountain_path
		(
			climb_path_num,
			mountain_code,
			climb_path_XY,
			climb_path_difficult,
			climb_path_uptime,
			climb_path_downtime,
			climb_path_length,
			climb_path_name
		)
		values
		<foreach collection="list" item="path" index="index" separator=",">
		(
			#{path.climb_path_num}, 
			#{path.mountain_code}, 
			#{path.climb_path_XY,jdbcType=LONGVARCHAR}, 
			#{path.climb_path_difficult},
			#{path.climb_path_uptime},
			#{path.climb_path_downtime},
			#{path.climb_path_length},
			#{path.climb_path_name}
		)
		</foreach>
	</insert>
	
	<select id="selectMountainCode" parameterType="String" resultType="String">
		select mountain_code 
		from mountain
		where mountain_code = #{code}
	</select>
	
	<select id="selectMountain" resultType="com.themountaineers.domain.MountainVO" 
	parameterType="map">
		select distinct(m.mountain_code), 
			m.mountain_name, 
			m.mountain_phone, 
			m.mountain_hight, 
			m.mountain_content, 
			m.mountain_address,
			m.mountain_img_src,
			m.mountain_x,
			m.mountain_y
		from mountain m, mountain_path p
		where m.mountain_code = p.mountain_code
		<if test="lastmountain != 'nomountain'">
			<![CDATA[
				and m.mountain_code > #{lastmountain}
			]]>
		</if>
		<if test = "keyword != null">
			and (m.mountain_name like CONCAT('%',#{keyword},'%'))
		</if>
		order by m.mountain_code
		limit 6
	</select>
	
	<select id="getMountainNameCode" resultType="com.themountaineers.domain.MountainVO">
		select distinct(m.mountain_code), m.mountain_name
		from mountain m, mountain_path p
		where m.mountain_code = p.mountain_code and m.mountain_img_src is null
	</select>
	
	<select id="getMountainNameAddr" resultType="com.themountaineers.domain.MountainVO">
		select distinct(m.mountain_code), m.mountain_name, m.mountain_address
		from mountain m, mountain_path p
		where m.mountain_code = p.mountain_code
	</select>
	
	<update id="insertMountainImg" parameterType="map">
		update mountain
		set mountain_img_src = #{mountain_img_src}
		where mountain_code = #{mountain_code}
	</update>
	<resultMap type="com.themountaineers.domain.MountainVO" id="MountainResult">
		<id property="mountain_code" column="mountain_code"/>
		<result property="mountain_name" column="mountain_name"/>
		<result property="mountain_phone" column="mountain_phone"/>
		<result property="mountain_hight" column="mountain_hight"/>
		<result property="mountain_content" column="mountain_content"/>
		<result property="mountain_address" column="mountain_address"/>
		<result property="mountain_img_src" column="mountain_img_src"/>
		<result property="mountain_x" column="mountain_x"/>
		<result property="mountain_y" column="mountain_y"/>
		<collection property="pathList" resultMap="pathMap"></collection>
	</resultMap>
	
	<resultMap type="com.themountaineers.domain.MountainPathVO" id="pathMap">
		<id property="climb_path_num" column="climb_path_num"/>
		<result property="mountain_code" column="mountain_code"/>
		<result property="climb_path_XY" column="climb_path_XY"/>
		<result property="climb_path_difficult" column="climb_path_difficult"/>
		<result property="climb_path_uptime" column="climb_path_uptime"/>
		<result property="climb_path_downtime" column="climb_path_downtime"/>
		<result property="climb_path_length" column="climb_path_length"/>
		<result property="climb_path_name" column="climb_path_name"/>
	</resultMap>
	<select id="selectMountainDetail" resultMap="MountainResult" parameterType="String">
		select m.mountain_code, m.mountain_name, m.mountain_phone,
		m.mountain_hight, m.mountain_content, m.mountain_address,
		m.mountain_img_src, m.mountain_x, m.mountain_y, p.climb_path_num, p.climb_path_XY,
		p.climb_path_difficult, p.climb_path_uptime,
		p.climb_path_downtime, p.climb_path_length, p.climb_path_name
		from mountain m, mountain_path p
		where m.mountain_code = p.mountain_code and m.mountain_code = #{mountain_code}
	</select>
	
	<update id="updateMountainXYAddr" parameterType="java.util.HashMap">
		update mountain
		set mountain_x = #{mountain_x}
		,mountain_y = #{mountain_y}
		,mountain_address = #{mountain_address}
		where mountain_code = #{mountain_code}
		and mountain_x is null
	</update>
	
	<update id="updateAddrFin" parameterType="java.util.HashMap">
		update mountain
		set mountain_address = #{mountain_address}
		where mountain_code = #{mountain_code}
	</update>
	
	<select id="getXY" resultType="java.util.HashMap">
		select mountain_x, mountain_y from mountain 
		where mountain_code = #{mountain_code}
	</select>
	
	<insert id="postClimbAuthInsert" parameterType="com.themountaineers.domain.ClimbPostVO">
		insert into climb_post
		(mem_id, mountain_code,
		climb_post_content)
		values
		(
			#{mem_id},
			#{mountain_code}, #{climb_post_content}
		)
		
		<selectKey keyProperty="climb_post_num" order="AFTER" resultType="int">
			select  LAST_INSERT_ID()
		</selectKey>
	</insert>
	
	<insert id="postClimbAuthImageInsert" parameterType="com.themountaineers.domain.ClimbPathImageVO">
		insert into climb_post_img
		(
			climb_post_num, climb_post_img_path, mem_id
		)
		values
		(
			#{climb_post_num}, #{climb_post_img_path},
			#{mem_id}
		)
		<selectKey keyProperty="climb_post_num" order="AFTER" resultType="int">
			select  LAST_INSERT_ID()
		</selectKey>
	</insert>
</mapper>