<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.themountaineers.mapper.MountainMapper">
	<insert id="insertMountain" parameterType="java.util.List">
		insert ignore into mountain
		(
			mountain_code, 
			mountain_name, 
			mountain_phone, 
			mountain_hight, 
			mountain_content, 
			mountain_address
		)
		values 
		<foreach collection="list" item="mountain" index="index" separator=",">
		(
			#{mountain.mountain_code,jdbcType=VARCHAR}, 
			#{mountain.mountain_name,jdbcType=VARCHAR}, 
			#{mountain.mountain_phone,jdbcType=VARCHAR}, 
			#{mountain.mountain_hight,jdbcType=VARCHAR},
			#{mountain.mountain_content,jdbcType=VARCHAR},
			#{mountain.mountain_address,jdbcType=VARCHAR}
		)
		</foreach>
	</insert>
	
	<insert id="insertMountainPath">
		insert ignore into mountain_path
		(
			climb_path_num,
			mountain_code,
			climb_path_XY,
			climb_path_difficult,
			climb_path_uptime,
			climb_path_downtime,
			climb_path_length,
			climb_path_name
		)
		values
		<foreach collection="list" item="path" index="index" separator=",">
		(
			#{path.climb_path_num}, 
			#{path.mountain_code}, 
			#{path.climb_path_XY,jdbcType=LONGVARCHAR}, 
			#{path.climb_path_difficult},
			#{path.climb_path_uptime},
			#{path.climb_path_downtime},
			#{path.climb_path_length},
			#{path.climb_path_name}
		)
		</foreach>
	</insert>
	
	<select id="selectMountainCode" parameterType="String" resultType="String">
		select mountain_code 
		from mountain
		where mountain_code = #{code}
	</select>
	
	<select id="selectMountain" resultType="com.themountaineers.domain.MountainVO" 
	parameterType="map">
		select distinct(m.mountain_code), 
			m.mountain_name, 
			m.mountain_phone, 
			m.mountain_hight, 
			m.mountain_content, 
			m.mountain_address 
		from mountain m, mountain_path p
		where m.mountain_code = p.mountain_code
		<if test="lastmountain != 'nomountain'">
			<![CDATA[
				and m.mountain_code > #{lastmountain}
			]]>
		</if>
		<if test = "keyword != null">
			and (m.mountain_name like CONCAT('%',#{keyword},'%'))
		</if>
		order by m.mountain_code
		limit 6
	</select>
	
	<select id="getMountainNameCode" resultType="com.themountaineers.domain.MountainVO">
		select distinct(m.mountain_code), m.mountain_name
		from mountain m, mountain_path p
		where m.mountain_code = p.mountain_code and m.mountain_img_src is null
	</select>
	
	<update id="insertMountainImg" parameterType="map">
		update mountain
		set mountain_img_src = #{mountain_img_src}
		where mountain_code = #{mountain_code}
	</update>
</mapper>