@CHARSET "UTF-8";

.uploadBtnContainer {
	width:793px;
	padding-left:20px;
}
.positionCheckContainer {
	width:793px;
	padding-left:20px;

}
.climb-box{
	display: block;
    width: 773px;
    height: 300px;
    border: solid 1px #dadada;
    padding: 10px 14px 10px 14px;
    box-sizing: border-box;
    background: #fff;
    position: relative;
}

.uploadBtn {
	display: none;
}

#fileBtnCss {
	width: 100%;
	height: 40px;
	background-color:  #0067A3;
	padding: 0, 20px, 0, 20px;
	text-align: center;
	line-height: 40px;
	font-weight: bold;
	color: white;
	border-radius: 5px;
}

.swiper {
        width: 100%;
        height: 300px;
        padding-top: 50px;
        padding-bottom: 50px;
}
 .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 300px;
        height: 300px;
}

.swiper-slide img {
        display: block;
        width: 100%;
}