body {
	background-color: #f5f6f7;
}

#logo {
	text-align: center;
}

.box {
    display: block;
    width: 100%;
    height: 51px;
    border: solid 1px #dadada;
    padding: 10px 14px 10px 14px;
    box-sizing: border-box;
    background: #fff;
    position: relative;
}

.int {
    display: block;
    position: relative;
    width: 100%;
    height: 29px;
    border: none;
    background: #fff;
    font-size: 15px;
}

.btn_area {
    margin: 30px 0 20px;
}

#loginButton {
    width: 100%;
    padding: 21px 0 17px;

    border: 0;
    cursor: pointer;
    color: #fff;
    background-color: #028651;
    font-size: 20px;
    font-weight: 400;
}

.find_info {
	text-align: center;
}


