@CHARSET "UTF-8";
/* @import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');
 */
.group_information, .group_img_info, .group_content_info {
    height: 200px;
    border: solid 1px #dadada;
    box-sizing: border-box;
    background: #fff;
}

.group_information {
	display: inline-block;
	float: left;
	width: 100%;
	/* font-family: 'Nanum Gothic', sans-serif; */
	padding: 20px 0px 20px 20px;
}

.group_img_info {
	width: 280px;
	height: 160px;
	margin-right: 20px;
	display: inline-block;
	position: relative;
}

.group_profile_image{
	position: absolute;
	top:0; left: 0;
	width: 100%;
	height: 100%;
	object-fit:cover;
} 

.group_content_info{
	width: 450px;
	height: 160px;
	display: inline-block;
	border-color: white;
	position: relative;
} 

.group_name { 
	font-size: 20px;
	font-weight: bold;
	color: black;
}
.group_content {
	font-size: 13px;
	margin: 8px 0px 0px 3px;
}

.group_level label {
	padding: 1px 5px 0px 5px;
	margin: 0px 0px 0px 3px;
	font-size: 12px;
	border-radius: 40px;
	color: white;
}

.level1 {
	border: solid 1px #7B1FA2;
	background-color: #7B1FA2;
}

.level2 {
	border: solid 1px #3f51b5;
	background-color: #3f51b5;
}

.level3 {
	border: solid 1px #e57373;
	background-color: #e57373;
}

.group_count {
	float: right;
	font-size: 15px;
	margin-top: 5px;
}

.group_point{
	font-size: 15px;
}

.group_hash label {
	padding: 1px 5px 0px 5px;
	margin: 0px 0px 0px 3px;
	font-size: 12px;
	border-radius: 40px;
	color: white;
	text-align:center;
}

.age{
	border-color: #FFA000;
	background-color: #FFA000;
}

.region {
	border-color: #FF7F7F;
	background-color: #FF7F7F;
}

.time {
	border-color:#eecc42;
	background-color: #eecc42;
}

.type{
	border-color:#81c784;
	background-color: #81c784;
}

.features {
	border-color: #8C9EFF;
	background-color: #8C9EFF;
}

.grade{
	border-color: #9575cd;
	background-color: #9575cd;	
}

.nav-menu {
	font-weight: 400;
    line-height: 1.43;
    letter-spacing: -.3px;
    font-size: 14px;
    display: inline-block;
    padding: 16px 20px;
    color: #343a40;
    font-weight: 500;
    border: solid 1px #dadada;
	background: #fff;
}

.inner_content{
	margin: -1px 11.7px 0px 11.7px;
	border: solid 1px #dadada;
	background: #fff;
	width: 100%;
	height: 100%;
}

.schedule {
	margin-left: -5.4px;
}

.freeboard{
	margin-left: -5.4px;
}

.nav-container {
	margin-left: 11.7px;
	margin-top: 30px;
}

.claendar-container{
	padding-top: 10px;
}

#calendar {
	height: 100%;
}

.climb-calendar-label {
	padding: 40px 0 0 30px;
	font-weight: bold;
	display: inline-block;
	font-size: 20px;
}

.climb-schedule-button{
	float: right;
	margin: 30px 60px 0 0;
	padding: 5px 10px 5px 10px;
	border: solid 1px #dadada;
	background-color: #7e57c2;
	border-radius: 40px;
	font-weight: bold;
	color: white;
	/* display: inline-block; */
}
