/* <style>
	@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap');
</style> */

/* body {
	background-color: #f5f6f7;
} */

.create_content{
	margin-top: 10px;
}

/* 체크박스 디자인 없애기 */
input[type=checkbox] {
  display: none;
}

.error_next_box {
	padding-left: 5px;
	padding-top: 10px;
}

.check_box_label {
  /* display: flex; */
  align-items: center;
  position: relative;
  width: fit-content;
  /* font-size: 12px; */
  color: #ffffff;
  box-sizing: border-box;
  border: solid 1px #028651;
  padding: 10px 14px 10px 14px;
  border-radius: 40px 40px 40px 40px;
  font-weight: 400;
  margin: 10px 0 3px 5px;
  background-color: #028651;
  text-align: left;
  cursor: pointer;
}

.group_input {
	margin-left: 20px;
	/* margin-bottom: 10px; */
	margin-right: 20px;
}

h3 {
    margin: 10px 0 8px;
    font-size: 16px;
    font-weight: 700;
}


.box {
    display: block;
    width: 100%;
    height: 100%;
    border: solid 1px #dadada;
    padding: 10px 14px 10px 14px;
    box-sizing: border-box;
    background: #fff;
    position: relative;
}

.for_check_box {
    display: block;
    width: 100%;
    height: 150px;
    border: solid 1px #dadada;
    padding: 10px 14px 10px 14px;
    box-sizing: border-box;
    background: #fff;
    position: relative;
}

.btn_area {
    margin-top: 40px;
    margin-left:20px;
    margin-right:20px;
}

#createButton {
    width: 100%;
    padding: 17px 0 17px;
    border: 0;
    cursor: pointer;
    color: #fff;
    background-color: #028651;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 50px;
}

.int {
    display: block;
    position: relative;
    width: 100%;
    height: 29px;
    border: none;
    background: #fff;
    font-size: 15px;
}

.box.int_id {
    padding-right: 110px;
}
